In [1]:
# %% General Modules
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [2]:
data = pd.read_excel('Glomeruli_combined.xlsx', sheet_name='in')
data.head()

,ESRD,Var1,Var2,Var3,feat1,feat2,feat3,feat4,feat5,feat6,...,feat306,feat307,feat308,feat309,feat310,feat311,feat312,feat313,feat314,feat315
0,0,1,1,10_S_3_0.jpeg,0.76374,0.29191,0.046722,233040,3820.30,297.0,...,100.660,140.340,168.830,190.920,208.680,225.990,241.960,255.340,268.34,288.34
1,0,1,2,10_S_3_1.jpeg,0.76065,0.31171,0.049396,481020,2109.70,424.5,...,171.880,246.630,295.980,343.030,384.650,418.630,446.500,466.710,484.43,508.43
2,0,1,3,10_S_3_2.jpeg,0.71368,0.37529,0.066800,98261,1213.10,230.0,...,68.448,98.957,116.950,133.020,146.080,157.650,167.400,176.430,187.14,203.61
3,0,1,4,10_S_3_3.jpeg,0.77691,0.28980,0.033200,191120,1375.00,323.0,...,115.630,164.630,195.310,228.990,258.490,275.800,291.690,304.990,317.97,338.99
4,0,1,5,10_S_3_0.jpeg,0.75604,0.29954,0.047077,16827,494.91,130.0,...,25.719,42.270,50.719,59.979,69.719,79.049,87.757,96.748,105.21,112.72

In [5]:
data = data.rename( columns={'Var1': 'bag', 'Var2': 'inst', 'Var3': 'img', 'ESRD': 'label'} )
data['label']=data['label'].map({0:'CTR',1:'CASE'})
data.head()

,label,bag,inst,img,feat1,feat2,feat3,feat4,feat5,feat6,...,feat306,feat307,feat308,feat309,feat310,feat311,feat312,feat313,feat314,feat315
0,CTR,1,1,10_S_3_0.jpeg,0.76374,0.29191,0.046722,233040,3820.30,297.0,...,100.660,140.340,168.830,190.920,208.680,225.990,241.960,255.340,268.34,288.34
1,CTR,1,2,10_S_3_1.jpeg,0.76065,0.31171,0.049396,481020,2109.70,424.5,...,171.880,246.630,295.980,343.030,384.650,418.630,446.500,466.710,484.43,508.43
2,CTR,1,3,10_S_3_2.jpeg,0.71368,0.37529,0.066800,98261,1213.10,230.0,...,68.448,98.957,116.950,133.020,146.080,157.650,167.400,176.430,187.14,203.61
3,CTR,1,4,10_S_3_3.jpeg,0.77691,0.28980,0.033200,191120,1375.00,323.0,...,115.630,164.630,195.310,228.990,258.490,275.800,291.690,304.990,317.97,338.99
4,CTR,1,5,10_S_3_0.jpeg,0.75604,0.29954,0.047077,16827,494.91,130.0,...,25.719,42.270,50.719,59.979,69.719,79.049,87.757,96.748,105.21,112.72

In [2]:
# data = pd.read_csv('inst.csv')
# data.head()

,inst,bag,case,label,feat1,feat2,feat3,feat4,feat5,feat6,...,feat306,feat307,feat308,feat309,feat310,feat311,feat312,feat313,feat314,feat315
0,10_S_3_0.jpeg,1,1,CTR,0.76374,0.29191,0.046722,233040,3820.30,297.0,...,100.660,140.340,168.830,190.920,208.680,225.990,241.960,255.340,268.34,288.34
1,10_S_3_1.jpeg,1,1,CTR,0.76065,0.31171,0.049396,481020,2109.70,424.5,...,171.880,246.630,295.980,343.030,384.650,418.630,446.500,466.710,484.43,508.43
2,10_S_3_2.jpeg,1,1,CTR,0.71368,0.37529,0.066800,98261,1213.10,230.0,...,68.448,98.957,116.950,133.020,146.080,157.650,167.400,176.430,187.14,203.61
3,10_S_3_3.jpeg,1,1,CTR,0.77691,0.28980,0.033200,191120,1375.00,323.0,...,115.630,164.630,195.310,228.990,258.490,275.800,291.690,304.990,317.97,338.99
4,10_S_3_0.jpeg,1,1,CTR,0.75604,0.29954,0.047077,16827,494.91,130.0,...,25.719,42.270,50.719,59.979,69.719,79.049,87.757,96.748,105.21,112.72

In [6]:
data_feature = data.loc[:, data.columns.str.startswith('feat')]
data_feature.head()

,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,feat10,...,feat306,feat307,feat308,feat309,feat310,feat311,feat312,feat313,feat314,feat315
0,0.76374,0.29191,0.046722,233040,3820.30,297.0,0.26929,0.80046,0.20233,0.87044,...,100.660,140.340,168.830,190.920,208.680,225.990,241.960,255.340,268.34,288.34
1,0.76065,0.31171,0.049396,481020,2109.70,424.5,0.24294,0.79715,0.23021,0.88220,...,171.880,246.630,295.980,343.030,384.650,418.630,446.500,466.710,484.43,508.43
2,0.71368,0.37529,0.066800,98261,1213.10,230.0,0.23816,0.78833,0.24238,0.88531,...,68.448,98.957,116.950,133.020,146.080,157.650,167.400,176.430,187.14,203.61
3,0.77691,0.28980,0.033200,191120,1375.00,323.0,0.23045,0.79704,0.24392,0.88767,...,115.630,164.630,195.310,228.990,258.490,275.800,291.690,304.990,317.97,338.99
4,0.75604,0.29954,0.047077,16827,494.91,130.0,0.26332,0.69923,0.29605,0.87302,...,25.719,42.270,50.719,59.979,69.719,79.049,87.757,96.748,105.21,112.72

In [7]:
data_non_feat = data.loc[:, ~data.columns.str.startswith('feat')]
data_non_feat.head()

  label  bag  inst            img
0   CTR    1     1  10_S_3_0.jpeg
1   CTR    1     2  10_S_3_1.jpeg
2   CTR    1     3  10_S_3_2.jpeg
3   CTR    1     4  10_S_3_3.jpeg
4   CTR    1     5  10_S_3_0.jpeg

In [8]:
x = data_feature.values

In [9]:
x = StandardScaler().fit_transform(x)

In [10]:
pca = PCA(n_components=50)

In [11]:
principalComponents = pca.fit_transform(x)

In [12]:
print(pca.explained_variance_ratio_, sum(pca.explained_variance_ratio_))

[0.37759278 0.13433575 0.08587654 0.04106585 0.03807303 0.02937144
 0.02302981 0.02087985 0.01572314 0.01455442 0.01249385 0.0114327
 0.01023895 0.00984091 0.0092846  0.00888913 0.00756914 0.00700172
 0.00679087 0.00642635 0.00609622 0.00517545 0.00514102 0.00451391
 0.0041672  0.004056   0.00377758 0.00364068 0.0033358  0.00325242
 0.00318126 0.00308451 0.00289705 0.0027549  0.00267415 0.00253344
 0.00241047 0.00226666 0.00224161 0.00209505 0.00202524 0.00194624
 0.0019382  0.00180927 0.0017257  0.00155501 0.00152604 0.00141226
 0.00134306 0.00132779] 0.9563750234470866

In [13]:
column_name = [str('principal component ')+ str(i) for i in range(1,51)]

In [14]:
principalDf = pd.DataFrame(data = principalComponents, columns = column_name)

In [15]:
finaldf = pd.concat([data_non_feat, principalDf], axis = 1)

In [16]:
finaldf.shape

(936, 54)

In [17]:
finaldf.head(10)

,label,bag,inst,img,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,...,principal component 41,principal component 42,principal component 43,principal component 44,principal component 45,principal component 46,principal component 47,principal component 48,principal component 49,principal component 50
0,CTR,1,1,10_S_3_0.jpeg,-0.886563,-9.814194,4.119864,1.056631,0.618267,-0.480605,...,0.793329,0.314288,-0.272947,0.865218,-0.408135,-0.692384,0.403613,0.067921,0.342031,0.492849
1,CTR,1,2,10_S_3_1.jpeg,19.623776,-0.405351,-6.345954,3.078536,1.737264,-0.872794,...,-0.232507,0.995767,-1.235957,-1.290956,0.205526,-0.270159,0.092696,-0.108957,1.211166,0.687318
2,CTR,1,3,10_S_3_2.jpeg,-8.707897,-1.831399,-2.654622,0.229464,-0.870441,3.716145,...,0.255791,1.825389,-0.351197,-0.356001,-0.980885,-0.053434,-0.927345,0.168369,0.284159,1.225107
3,CTR,1,4,10_S_3_3.jpeg,0.145934,-1.110487,-4.999176,-0.542506,1.684357,-1.293804,...,-1.099501,-0.275685,0.835450,0.856794,-0.429234,-0.536420,-0.408148,-0.492305,0.626028,-0.097138
4,CTR,1,5,10_S_3_0.jpeg,-17.714116,-3.153717,-1.817899,-1.337777,-0.752238,4.027222,...,-0.807021,-0.430994,-0.034895,1.237139,-0.274066,-0.490047,0.082345,1.897989,-1.032462,0.285864
5,CTR,1,6,10_S_3_1.jpeg,-12.770214,-0.119146,-1.321689,-0.367169,-2.598705,3.967652,...,-0.062456,-0.134911,0.662745,-0.408840,0.737559,0.546634,-0.003565,-0.175637,0.753919,-0.254597
6,CTR,1,7,10_S_3_2.jpeg,-12.153353,-0.438813,-0.940206,-2.332307,-1.182088,3.401214,...,-0.158758,0.777846,-0.507925,-1.413779,0.088433,0.572025,-0.706337,-0.093438,-0.110125,0.542037
7,CTR,2,1,11_S_3_0.jpeg,-3.920470,-5.691276,1.765707,-2.142547,1.183179,0.805539,...,0.600884,-0.457799,0.374522,0.187628,0.930665,-1.014540,0.043397,-1.281873,-0.651373,0.601124
8,CTR,2,2,11_S_3_0.jpeg,-8.985274,3.359580,1.125226,1.360631,-1.576415,0.237727,...,0.485734,-0.256852,0.008511,0.070394,0.453040,-0.034340,0.193783,-0.292028,0.123597,0.670859
9,CTR,2,3,11_S_3_1.jpeg,-12.464392,-0.924186,0.110023,-0.998555,-1.031474,1.675622,...,0.147618,-0.682082,0.466492,0.304004,-0.451427,-0.638912,-0.344823,-0.834006,0.584666,-0.515048

In [18]:
finaldf.to_csv('pca_inst.csv', index = False)

In [20]:
oob = pd.read_excel('validation_Glomeruli_combined.xlsx', sheet_name='in')

In [21]:
oob.head()

,Var1,Var2,Var3,feat1,feat2,feat3,feat4,feat5,feat6,feat7,...,feat306,feat307,feat308,feat309,feat310,feat311,feat312,feat313,feat314,feat315
0,1,1,V10_S_4_0.jpeg,0.79268,0.21862,0.084256,423850,2649.1,515.5,0.32402,...,129.910,192.750,244.990,281.920,312.910,338.62,361.15,381.45,400.68,421.15
1,1,2,V10_S_4_1.jpeg,0.80162,0.19187,0.086713,459760,2688.7,387.0,0.35926,...,115.590,175.060,227.430,265.220,298.050,325.95,348.84,368.02,387.03,406.84
2,1,3,V10_S_4_2.jpeg,0.81578,0.17478,0.074669,450370,2530.2,429.5,0.31225,...,124.220,180.420,231.190,266.180,295.550,323.42,347.42,368.17,387.23,407.42
3,1,4,V10_S_4_0.jpeg,0.79872,0.26091,0.002771,66788,16697.0,420.5,0.25032,...,43.322,62.301,76.722,88.781,99.322,108.84,117.75,126.32,135.32,154.32
4,1,5,V10_S_4_1.jpeg,0.75766,0.30022,0.003555,73692,10527.0,195.0,0.24646,...,46.740,65.744,80.744,94.577,106.500,117.42,127.70,137.29,148.16,168.74

In [22]:
oob1 = oob.rename({'Var1': 'bag', 'Var2': 'inst', 'Var3': 'img'}, axis='columns')

In [23]:
oob1['case'] = oob1['bag']

In [24]:
oob1.head()

,bag,inst,img,feat1,feat2,feat3,feat4,feat5,feat6,feat7,...,feat307,feat308,feat309,feat310,feat311,feat312,feat313,feat314,feat315,case
0,1,1,V10_S_4_0.jpeg,0.79268,0.21862,0.084256,423850,2649.1,515.5,0.32402,...,192.750,244.990,281.920,312.910,338.62,361.15,381.45,400.68,421.15,1
1,1,2,V10_S_4_1.jpeg,0.80162,0.19187,0.086713,459760,2688.7,387.0,0.35926,...,175.060,227.430,265.220,298.050,325.95,348.84,368.02,387.03,406.84,1
2,1,3,V10_S_4_2.jpeg,0.81578,0.17478,0.074669,450370,2530.2,429.5,0.31225,...,180.420,231.190,266.180,295.550,323.42,347.42,368.17,387.23,407.42,1
3,1,4,V10_S_4_0.jpeg,0.79872,0.26091,0.002771,66788,16697.0,420.5,0.25032,...,62.301,76.722,88.781,99.322,108.84,117.75,126.32,135.32,154.32,1
4,1,5,V10_S_4_1.jpeg,0.75766,0.30022,0.003555,73692,10527.0,195.0,0.24646,...,65.744,80.744,94.577,106.500,117.42,127.70,137.29,148.16,168.74,1

In [25]:
oob_feature = oob1.loc[:, oob1.columns.str.startswith('feat')]
oob_feature.head()

,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,feat10,...,feat306,feat307,feat308,feat309,feat310,feat311,feat312,feat313,feat314,feat315
0,0.79268,0.21862,0.084256,423850,2649.1,515.5,0.32402,0.76100,0.18521,0.85043,...,129.910,192.750,244.990,281.920,312.910,338.62,361.15,381.45,400.68,421.15
1,0.80162,0.19187,0.086713,459760,2688.7,387.0,0.35926,0.75088,0.17424,0.83920,...,115.590,175.060,227.430,265.220,298.050,325.95,348.84,368.02,387.03,406.84
2,0.81578,0.17478,0.074669,450370,2530.2,429.5,0.31225,0.76858,0.19274,0.85565,...,124.220,180.420,231.190,266.180,295.550,323.42,347.42,368.17,387.23,407.42
3,0.79872,0.26091,0.002771,66788,16697.0,420.5,0.25032,0.81070,0.22147,0.88026,...,43.322,62.301,76.722,88.781,99.322,108.84,117.75,126.32,135.32,154.32
4,0.75766,0.30022,0.003555,73692,10527.0,195.0,0.24646,0.80934,0.21576,0.88292,...,46.740,65.744,80.744,94.577,106.500,117.42,127.70,137.29,148.16,168.74

In [26]:
oob_non_feat = oob1.loc[:, ~oob1.columns.str.startswith('feat')]
oob_non_feat.head()

   bag  inst             img  case
0    1     1  V10_S_4_0.jpeg     1
1    1     2  V10_S_4_1.jpeg     1
2    1     3  V10_S_4_2.jpeg     1
3    1     4  V10_S_4_0.jpeg     1
4    1     5  V10_S_4_1.jpeg     1

In [27]:
x = oob_feature.values

In [28]:
x = StandardScaler().fit_transform(x)

In [29]:
oob_pc = pca.transform(x)

In [30]:
oobDf = pd.DataFrame(data = oob_pc, columns = column_name)

In [31]:
oobfinaldf = pd.concat([oob_non_feat, oobDf], axis = 1)

In [32]:
oobfinaldf.head()

,bag,inst,img,case,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,...,principal component 41,principal component 42,principal component 43,principal component 44,principal component 45,principal component 46,principal component 47,principal component 48,principal component 49,principal component 50
0,1,1,V10_S_4_0.jpeg,1,15.734046,-10.160821,6.036202,4.078293,-1.660852,-2.019842,...,0.648651,0.732862,0.423890,-0.509064,1.444311,0.144973,0.458129,-1.709515,-0.608201,1.318741
1,1,2,V10_S_4_1.jpeg,1,16.039143,-12.042370,6.251794,4.663722,-0.697945,-1.065548,...,0.717671,0.628522,0.511682,-0.494698,0.668467,0.207231,0.894919,-1.653128,0.036238,1.294361
2,1,3,V10_S_4_2.jpeg,1,17.245286,-12.156861,8.130170,3.412733,-1.402968,-0.708747,...,0.450169,0.913126,0.788608,0.292066,1.020464,-0.336748,1.320325,-1.691266,0.641698,1.641376
3,1,4,V10_S_4_0.jpeg,1,-13.243459,-12.001749,0.354975,3.414250,3.505824,-0.978345,...,1.774613,-2.206021,-0.947800,-0.077012,-0.466102,0.252505,0.139396,0.339003,0.768084,0.529110
4,1,5,V10_S_4_1.jpeg,1,-13.171528,-9.704673,0.054751,2.463204,2.566293,-0.891511,...,0.299819,-1.104050,0.890039,1.270052,-0.353727,-0.998834,-1.192888,-0.029956,0.026720,0.290124

In [33]:
oobfinaldf.to_csv('oob_pca_inst.csv', index = False)